Dear Administrator,

A fresh order has been placed at http://www.newtownhomedelivery.com. The following is the customer and order detail:

================================
CUSTOMER DETAILS
================================
First name: {fname}
Last name: {lname}
E-Mail: {email}
Phone: {phone}
Apartment: {apartment}
Address: {address}
Pincode: {zip}

-------------------------------
ORDER DETAILS
-------------------------------
Order #: {orderid}
Amount (Rs.): {amount}
<f:if condition="{expectedDate}">
Expected delivery date: {expectedDate}
</f:if>

For complete order details, please see the PDF attachment along with this email.

