{namespace arm=Arm\T3sixshop\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<f:if condition="{products}">
		<f:if condition="{settings.feature}">
			<f:then>
				<div class="grid-view featured">
					<ul class="clearfix product-list">
						<f:for each="{products}" as="product">
							<li class="item clearfix"><f:render partial="Product/List" arguments="{product:product, settings:settings}" /></li>
						</f:for>
					</ul>
					<div class="more"><f:link.page pageUid="{settings.listPid}" title="{f:translate->key('tx_t3sixshop_domain_model_product.more')}"><f:translate key="tx_t3sixshop_domain_model_product.more" /></f:link.page></div>
				</div>
			</f:then>
			<f:else>
				<div class="grid-view">
				<!-- normal pagination -->
					<f:widget.paginate objects="{products}" as="paginatedProduct" configuration="{itemsPerPage: settings.list.perpage, insertAbove: 0, insertBelow: 1}">
						<ul class="clearfix product-list">
							<f:for each="{paginatedProduct}" as="product">
								<li class="item clearfix"><f:render partial="Product/List" arguments="{product:product, settings:settings}" /></li>
							</f:for>
						</ul>
					</f:widget.paginate>
				</div>
			</f:else>
		</f:if>
	</f:if>
</f:section>