<f:layout name="Default" />
<f:section name="main">
<h1>Checkout</h1>
<h4>Your order amount: {settings.currency} <f:format.number decimals="2" decimalSeparator="." thousandsSeparator=",">{cart.amount}</f:format.number></h4>
<div class="alert">
	<f:flashMessages />
</div>
<f:if condition="{cart}">
	<f:then>
		
		<f:if condition="{user}">
			<f:then>
				<f:form name="cart" id="checkoutFrm" method="post" action="preconfirm" object="{cart}">
					<table class="tx_t3sixshop_orders checkout-form">
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.fname" /></td>
							<td class="colsrno">:</td>
							<td>{user.firstName}</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.lname" /></td>
							<td class="colsrno">:</td>
							<td>{user.lastName}</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.email" /></td>
							<td class="colsrno">:</td>
							<td>{user.email}</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.phone" /></td>
							<td class="colsrno">:</td>
							<td>{user.telephone}</td>
						</tr>
						<f:if condition="{settings.enableCoupon} == 1">
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.coupon" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield name="coupon" value="{coupon}" /></td>
						</tr>
						</f:if>
						<f:if condition="{deliveryoption}">
							<tr>
								<td>&nbsp;</td>
								<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.deliveryoption" /></td>
								<td class="colsrno">:</td>
								<td>
									<f:for each="{deliveryoption}" as="doption">
										<label>{doption.name} {settings.currency} <f:format.number decimals="2" decimalSeparator="." thousandsSeparator=",">{doption.price}</f:format.number></label> <f:form.radio name="deliveryoption" value="{doption.uid}" class="required" checked="{doption.uid} == {0:delivery}" /><br /> 
									</f:for>
								</td>
							</tr>
						</f:if>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><f:form.submit name="checkoutBtn" value="{f:translate(key:'tx_t3sixshop_domain_model_order.checkout_btn')}" class="button" /> &nbsp; <f:link.action action="list" arguments="{cart:cart}" class="button"><f:translate key="tx_t3sixshop_domain_model_order.cart" /></f:link.action></td>
						</tr>
					</table>
				</f:form>
			</f:then>
			<f:else>
				<f:form name="cart" id="checkoutFrm" method="post" action="preconfirm" object="{cart}">
					<table class="tx_t3sixshop_orders checkout-form">
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.fname" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="fname" class="required" value="{cart.fname}" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.lname" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="lname" class="required" value="{cart.lname}"  /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.email" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="email" class="required email" value="{cart.email}"  /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.phone" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="phone" class="required" value="{cart.phone}"  /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.apartment" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="apartment" value="{cart.apartment}"  /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.address" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="address" class="required" value="{cart.address}" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.zip" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield property="zip" class="required" value="{cart.zip}" /></td>
						</tr>
						<f:if condition="{settings.enableCoupon} == 1">
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.coupon" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield name="coupon" value="{coupon}" /></td>
						</tr>
						</f:if>
						<f:if condition="{deliveryoption}">
							<tr>
								<td>&nbsp;</td>
								<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_order.deliveryoption" /></td>
								<td class="colsrno">:</td>
								<td>
									<f:for each="{deliveryoption}" as="doption">
										 <label>{doption.name} {settings.currency} <f:format.number decimals="2" decimalSeparator="." thousandsSeparator=",">{doption.price}</f:format.number></label> <f:form.radio name="deliveryoption" value="{doption.uid}" class="required" checked="{doption.uid} == {0:delivery}" /><br /> 
									</f:for>
								</td>
							</tr>
						</f:if>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><f:form.submit name="checkoutBtn" value="{f:translate(key:'tx_t3sixshop_domain_model_order.checkout_btn')}" class="button" /> &nbsp; <f:link.action action="list" class="button"><f:translate key="tx_t3sixshop_domain_model_order.cart" /></f:link.action></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><f:form.checkbox name="registerme" value="1" /> &nbsp; <f:translate key="tx_t3sixshop_domain_model_order.createlogin" /></td>
						</tr>
					</table>
				</f:form>
				<f:form name="login" id="loginFrm" method="post" action="confirm" arguments="{cart:cart}">
					<table class="tx_t3sixshop_orders checkout-form">
						<tr>
							<td>&nbsp;</td>
							<td colspan="3"><h5><f:translate key="tx_t3sixshop_domain_model_customer.existing" /></h5></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_customer.username" /></td>
							<td class="colsrno">:</td>
							<td><f:form.textfield name="username" class="required" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="order-header"><f:translate key="tx_t3sixshop_domain_model_customer.password" /></td>
							<td class="colsrno">:</td>
							<td><f:form.password name="password" class="required" /></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><f:form.submit name="loginBtn" value="{f:translate(key:'tx_t3sixshop_domain_model_customer.login_btn')}" class="button" /></td>
						</tr>
					</table>
				</f:form>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<div class="notice"><f:translate key="tx_t3sixshop_domain_model_order.noorder" /></div>
	</f:else>
</f:if>
</f:section>